.content {
  width: calc(100% - 180px);
  height: calc(100vh - 48px);
  background-color: #f4f5f8;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}

.content.minimize {
  width: calc(100% - 52px);
}

.content .content__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0px;
  box-sizing: border-box;
}

.content .content__header .content__header__title {
  font-family: "Notosans-Bold";
  font-size: 24px;
}

.content .content__body {
  color: var(--color-white);
  background-color: var(--color-white);
}

.content .content__body .content__body__toolbar {
  position: sticky;
  right: 0px;
  background-color: var(--color-white);
  padding: 16px 16px 20px 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .content__body .content__body__toolbar .left {
  margin-left: 10px;
}

.content .content__body .content__body__toolbar .right .input-list {
  padding: 7px 6px 0 6px;
}

.content .content__body .content__body__toolbar .right .utils-btn {
  display: flex;
  padding: 19px 0 0 6px;
}

.content .content__body .content__body__toolbar .utils-btn .refresh:hover,
:active {
  background-position: -1098px -90px;
}

.content .content__body .content__body__toolbar .utils-btn .export:hover,
:active {
  background-position: -1265px -90px;
}

.content .content__body .content__body__grid {
  background-color: var(--color-white);
  box-sizing: border-box;
}

.content .content__body .content__body__grid.no-data {
  overflow: hidden;
  height: auto;
}

.content .content__body .no-data {
  padding-bottom: 16px;
}

.content .content__body .no-data.hidden {
  display: none !important;
}

.content .content__body .no-data img {
  margin: 50px 50px 30px;
}

.content .content__body .no-data div {
  color: #111;
}

.content .content__body .content__body__grid .pagination {
  height: 46px;
  width: 100%;
  padding-right: 30px;
  padding-left: 20px;
  background-color: var(--color-white);
}
