.content {
  width: calc(100% - 180px);
  height: calc(100vh - 48px);
  background-color: #f4f5f8;
  float: left;
  padding-left: 20px;
  padding-right: 30px;
  box-sizing: border-box;
}

.content.minimize {
  width: calc(100% - 52px);
}

.content .content__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0px;
  box-sizing: border-box;
}

.content .content__header .content__header__title {
  font-family: "Notosans-Bold";
  font-size: 24px;
}

.content .content__body {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-white);
  height: calc(100vh - 132px); /*84 + 48*/
  width: 100%;
}

.content .content__body .content__body__toolbar {
  position: sticky;
  right: 0px;
  background-color: var(--color-white);
  padding: 16px 16px 20px 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.content .content__body .content__body__toolbar .input-list {
  padding: 7px 6px 0 6px;
}

.content .content__body .content__body__toolbar .utils-btn {
  display: flex;
  padding: 19px 0 0 6px;
}

.content .content__body .content__body__toolbar .utils-btn .refresh:hover {
  background-position: -1098px -90px;
}

.content .content__body .content__body__toolbar .utils-btn .refresh:active {
  background-position: -1098px -90px;
}

.content .content__body .content__body__toolbar .utils-btn .export:hover {
  background-position: -1265px -90px;
}

.content .content__body .content__body__toolbar .utils-btn .export:active {
  background-position: -1265px -90px;
}

.content .content__body .content__body__grid {
  background-color: var(--color-white);
  height: calc(100vh - 211px); /* 48 84 75*/
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}

.content .content__body .box__func {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 120px;
  top: 100px;
  left: 900px;
  z-index: 7;
  color: #111;
  border: 1px solid #dbdee1;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
}

.content .content__body .box__func .item__func {
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  cursor: pointer;
}

.content .content__body .box__func .item__func:hover {
  background-color: #e8e9ec;
  color: #08bf1e;
}

.content .content__body .content__body__grid .pagination {
  position: sticky;
  bottom: 0px;
  left: 0px;
  height: 46px;
  width: 100%;
  z-index: 5;
  padding-right: 30px;
  padding-left: 20px;
  background-color: var(--color-white);
}
