input[type="checkbox"] {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  border: 1px solid #afafaf;
  border-radius: 2px;
  position: relative;
  margin-top: 5px;
  cursor: pointer;
  background: #fff;
}

input:checked {
  background-color: #fff;
  border: 1px solid #2ca01c;
}

input:checked:after {
  content: "";
  background: url("../../img/Sprites.64af8f61.svg") no-repeat -1225px -363px;
  width: 24px;
  height: 24px;
  display: block;
  font-size: 12px;
  position: absolute;
  top: 2px;
  left: 1px;
  color: #2ca01c;
}
