.dialog {
  box-sizing: border-box;
}

.dialog .dialog__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  position: relative;
}

.dialog .dialog__header .dialog__header__title {
  width: 100%;
  padding: 20px 32px 20px 32px;
  border-radius: 5px 5px 0 0;
}

.dialog .dialog__header .dialog__header__title .title {
  font-family: "Notosans-Bold";
  font-size: 24px;
  color: #111;
}

.dialog .dialog__header .dialog__header__close {
  display: flex;
  padding: 12px;
}

.dialog .dialog__content {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.dialog .dialog__content .body {
  height: 100%;
}

.dialog .dialog__content .body .row-input {
  padding-bottom: 12px;
}

/* @media screen and (min-height: 380px) {
  .dialog {
    height: 350px;
  }

  .dialog .dialog__content .body {
    max-height: 175px;
  }
}

@media screen and (min-height: 450px) {
  .dialog {
    height: 400px;
  }

  .dialog .dialog__content .body {
    max-height: 230px;
  }
}

@media screen and (min-height: 650px) {
  .dialog {
    height: 600px;
  }

  .dialog .dialog__content .body {
    max-height: 445px;
  }
} */
