input {
  font-family: "Notosans";
}

input::placeholder {
  font-size: 12px;
  font-family: "Notosans-Italic";
  color: #a7a1a1;
}

.container-input {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.container-input .container-input__input {
  width: 100%;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 2px;
  border: 1px solid #babec5;
  outline: none;
  box-sizing: border-box;
}

.container-input .container-input__input.input--icon {
  padding-left: 0.85rem;
  padding-right: 1.75rem;
}

.container-input .container-input__icon {
  position: absolute;
  padding-right: 3px;
  color: rgb(0, 0, 0, 0.4);
  top: 8px;
  left: auto;
  right: 5px;
  cursor: pointer;
}

.container-input input:hover {
  outline: 1px solid #e2e2e2;
}

.container-input input:focus {
  border-color: #2ca01c;
  outline: none;
}

.container-input input.container-input__input[validated="false"] {
  border-color: red;
  outline: none;
}

input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 20px;
}
