@import url("../common/variables.css");
@import url("../common/icon.css");
@import url("../common/padding.css");
@import url("../common/margin.css");
@import url("../common/text.css");
@import url("../common/width.css");
@import url("../common/dialog.css");
@import url("../common/radio.css");
@import url("../common/modal.css");
@import url("../common/checkbox.css");
@import url("../common/link.css");

* {
  font-family: "Notosans";
  font-size: 13px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Notosans";
  font-size: 13px;
  box-sizing: border-box;
  background-color: var(--color-bg);
  outline: none;
  margin: 0px;
}

.flex {
  display: flex !important;
}

.flex.flex-center {
  align-items: center;
  justify-content: center;
}

.flex.flex-column {
  flex-direction: column !important;
}

.label-required {
  color: var(--color-toast-error);
}

.label {
  font-size: 12px;
  font-family: "Notosans";
  font-weight: 700;
  padding-bottom: 4px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b8bcc3;
}

::-webkit-scrollbar-track {
  background: var(--color-scroll);
}

::-webkit-scrollbar-track-piece {
  background: var(--color-scroll);
  width: 10px;
}

@font-face {
  font-family: "Notosans";
  src: url("../../fonts/notosans-regular.2cb88a13.woff2");
}

@font-face {
  font-family: "Notosans-Italic";
  src: url("../../fonts/notosans-italic.1c1aaac9.woff2");
}

@font-face {
  font-family: "Notosans-Bold";
  src: url("../../fonts/notosans-bold.3ede5aff.woff2");
}

@font-face {
  font-family: "Notosans-SemiBold";
  src: url("../../fonts/notosans-semibold.df3e6dc4.woff2");
}
